@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.SpaServices.Prerendering.ISpaPrerenderer prerenderer
@using Newtonsoft.Json

<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
<div id="react-app">TESTING</div>

</body>
</html>